.header {
  padding: 10px;
  background: linear-gradient(rgb(203, 231, 255), rgb(229, 241, 245));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.nav-button {
  text-transform: none;
  color: #333;
  font-size: 16px;
}
